* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 796px) {
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin: 0rem 1rem;
}

a:link,
a:visited {
  color: #2a2a72;
  text-decoration: none;
  color: black;
}

.nav {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav:hover {
  color: white;
}

.n-about {
  margin-right: 20px;
}

.n-home {
  margin-right: 20px;
}

.n-login {
  background-color: rgba(255, 230, 0, 0.911);
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0px;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-container a {
  padding-top: 5px;
}

.aboutUs {
  width: 500px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  margin: 10px;
  display: inline-flex;
}

h1 {
  text-align: left;
  margin-left: 0px;
  font-size: 20px;
}

.ukraine-img {
  width: 30%;
}

.support-btn {
  background: #528eee;
  border: none;
  padding: 5px 22px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}
.support-btn a {
  color: #fff;
}

footer {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgba(253, 216, 45, 1) 0%,
    rgba(34, 79, 195, 0.23462414578587698) 53%
  );
}

input[type="text"],
input[type="password"] {
  display: block;
  font-size: 15px;
  border: none;
  background: #f1f1f1;
  border-radius: 70px;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
.container {
  padding: 20px;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Roboto Serif", serif;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main {
  background-color: rgba(0, 0, 0, 0.924);
  color: #fff;
  padding: 30px;
}

.our-info {
  color: black;
  align-items: center;
}
