/* Style for all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for desktop */

header {
  background-color: #1a1a1a;
  z-index: 2;
}

.scroll-pointer {
  position: absolute;
  bottom: 0;
}

.card {
  box-shadow: 7px 7px 5px 0px rgba(102, 102, 102, 0.2);
}

.card-body {
  background-color: #1a1a1a;
}

.list-volunteer-container {
  max-height: 60vh;
  overflow: scroll;
}

.date {
  font-size: small;
}

.carousel {
  max-width: 55%;
  max-height: 35%;
}

ul {
  list-style: none;
}

.mission {
  font-size: 3.5em;
}

.video-modal {
  width: 50vw;
  height: 50vh;
}

.profile-modal-content {
  height: 55vh !important;
}

.modal-dialog {
  max-width: 600px !important;
}

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-text {
  cursor: pointer;
  font-size: 1.5rem;
}

.menu {
  width: 400px;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  border-bottom: 1.5px solid rgb(228, 229, 231);
}

.ukraine-img {
  width: 45%;
  border-radius: 2px;
}

.support-btn {
  border: none;
  padding: 10px 50px;
  margin: 0.5rem;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.donate {
  background-image: linear-gradient(
    to right,
    #7474bf 0%,
    #348ac7 51%,
    #7474bf 100%
  );
}
.donate {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.video {
  background: transparent;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.support-btn a {
  color: #fff;
}

.become-volunteer-form {
  width: 400px !important;
}

.main-title {
  font-size: 5em;
}

main {
  background-color: #1a1a1a;
  color: #fff;
}

.our-info {
  align-items: center;
}

.sign-up {
  text-align: center;
  padding-top: 4rem;
  margin: 1rem;
}

.container-login {
  width: 70%;
  display: inline-block;
}

.login {
  color: #fff;
  cursor: pointer;
}

label {
  margin-top: 0.5rem;
}

.main-page- {
  justify-content: space-around !important;
  margin-bottom: 0 !important;
}

.footer-text {
  font-size: 14px;
  font-weight: normal;
}

.humanity-pic {
  width: 550px;
  margin-left: 30px;
  border-radius: 2px;
}

.pictures-about {
  background-color: rgba(14, 13, 13, 0.596);
  border-radius: 10px;
  font-size: 16px;
}

/* Mansory  */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.grid-wrapper {
  display: grid;
  grid-gap: 9px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}

.grid-wrapper .wide {
  grid-column: span 2;
}

.grid-wrapper .tall {
  grid-row: span 2;
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

/* Style for tablet */

@media only screen and (max-width: 830px) {
  .aboutUs {
    display: inline-block;
    font-size: 1px;
    align-content: flex-start;
    width: 100%;
    margin-left: 0;
  }

  .ukraine-img {
    width: 100%;
    grid-row: 2/3;
  }

  .support-btn {
    padding: 0.3rem 1.2rem;
    margin: 1rem;
  }

  .call-to-action {
    display: grid;
    grid-template-columns: 1fr;
  }

  .our-info {
    text-align: center;
    font-size: 20px;
  }

  .aboutUs {
    display: inline-block;
    font-size: 1px;
    align-content: flex-start;
    width: 100%;
    margin-left: 0;
  }

  .p-main {
    font-size: 16px;
  }

  .p-login {
    font-size: 16px;
  }

  footer {
    padding-bottom: 0 !important;
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
  }

  .main-page-footer {
    display: flex !important;
    justify-content: center !important;
  }

  .carousel {
    display: flex;
    justify-content: center;
  }
}

/* Style for mobile phone */

@media only screen and (max-width: 400px) {
  header {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  footer {
    margin-top: 1rem !important;
    position: static !important;
    font-size: smaller !important;
  }

  span {
    font-size: 16px;
    padding-left: 0px;
  }

  p {
    font-size: 14px;
  }

  .ukraine-img {
    width: 100%;
    grid-row: 1/2;
    border-radius: 2px;
  }

  .support-btn-container {
    display: flex-center;
  }

  .support-btn {
    padding: 0.3rem 1.2rem;
    margin: 1rem;
  }

  .call-to-action {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main {
    padding: 0;
    margin-bottom: 1rem;
  }

  .p-login {
    display: none;
  }

  .p-main {
    font-size: 12px;
  }

  .our-info {
    font-size: 16px;
  }

  .container {
    width: 100%;
    font-size: 14px;
  }

  .aboutUs {
    display: inline-block;
    font-size: 1px;
    align-content: flex-start;
    width: 100%;
    margin-left: 0;
  }

  .humanity-pic {
    width: 50%;
  }

  .main-page-footer {
    display: flex !important;
    justify-content: center !important;
  }

  .carousel {
    display: flex;
    justify-content: center;
  }
}
