/* Style for all*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Style for computer*/

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin: 0rem 1rem;
}

a:link,
a:visited {
  color: #2a2a72;
  text-decoration: none;
  color: black;
}

.nav {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav a:hover {
  border-bottom: 1.5px solid black;
}

.nav .current {
  border-bottom: 1.5px solid black;
}

#n-about {
  margin-right: 20px;
}

#n-home {
  margin-right: 20px;
}

#n-login {
  background-color: rgba(255, 230, 0, 0.911);
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0px;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-container a {
  padding-top: 5px;
}

.aboutUs {
  width: 60%;
  display: flex;
  align-items: center;
  background-color: none;
  margin: 10px;
  display: inline-flex;
  background: linear-gradient(
    0deg,
    rgba(253, 216, 45, 1) 0%,
    rgba(34, 79, 195, 0.23462414578587698) 53%
  );
  font-size: larger;
}

span {
  text-align: left;
  margin-left: 1rem;
  font-size: 24px;
  font-weight: bold;
}

.ukraine-img {
  width: 45%;
}

.support-btn {
  background: #528eee;
  border: none;
  padding: 10px 50px;
  margin: 1rem;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}
.support-btn a {
  color: #fff;
}

footer {
  text-align: center;
  padding: 1px;
  margin-top: 50px;
  background: #f5f5f5d3;
}

input[type="text"],
input[type="password"] {
  display: block;
  font-size: 15px;
  border: none;
  background: #f1f1f1;
  border-radius: 70px;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
.container {
  padding: 20px;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Roboto Serif", serif;
  font-size: 2.5em;
  margin: 2rem;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main {
  background-color: rgba(0, 0, 0, 0.924);
  color: #fff;
  padding: 0.5rem;
}

.our-info {
  align-items: center;
}

.sign-up {
  text-align: center;
  margin: 1rem;
}

.container-login {
  width: 70%;
  display: inline-block;
}

.p-login {
  margin-bottom: 1rem;
}

label {
  margin-top: 0.5rem;
}

p {
  margin: 1rem;
  font-size: larger;
}

/* Style for mobile phone*/

@media only screen and (max-width: 400px) {
  header {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  span {
    font-size: 16px;
    padding-left: 0px;
  }

  .call-to-action {
    display: grid;
    grid-template-rows: 1fr;
  }
  /*.main-section .support-btn x2 .ukraine-img*/
  .main {
    padding: 0;
  }

  .form {
    width: 100%;
  }

  .input {
    font-size: 14px;
  }

  .container {
    width: 100%;
    font-size: 14px;
  }
}
